[alias]
    lga = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lgax = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lgdc = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgl = lgdc @ @{upstream} --
    current = rev-parse --abbrev-ref HEAD
    nb = checkout origin/master -b

[init]
	defaultBranch = main

[color]
    ui = auto

[core]
	excludesfile = ~/.gitignore

[push]
    default = simple

[pull]
    ff = only

[merge]
  conflictstyle = diff3

[user]
    email = nic.h.misc@gmail.com
    name = Scyptnex

[includeIf "gitdir:~/work/"]
    path = ~/work/work-cfg/gitconfig
[includeIf "gitdir:~/mongo/"]
    path = ~/work/work-cfg/gitconfig
