[alias]
    lg = !"git lg1"
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lgx = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit @ @{upstream} --
    lgdc = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        current = rev-parse --abbrev-ref HEAD

[color]
    ui = auto

[core]
    editor = vim

[push]
    default = simple

[pull]
    ff = only

[user]
    email = nic.h.misc@gmail.com
    name = Scyptnex

[includeIf "gitdir:~/work/"]
    path = ~/work/work-cfg/gitconfig
[includeIf "gitdir:~/mongo/"]
    path = ~/work/work-cfg/gitconfig
